<mat-card class="card">
  <!-- <mat-card-header class="card_header">
    <div color="primary" mat-card-avatar class="card_header_avatar">
      <img class="card_header_icon" src="../../../../../assets/types/{{ bgcolor }}.png" alt="" />
    </div>
    <mat-card-subtitle class="card_header_subtitle"># {{ id }}</mat-card-subtitle>
    <mat-card-title class="card_header_title">{{ name }}</mat-card-title>
  </mat-card-header> -->
  <mat-card-header class="card_header">
    <div mat-card-avatar class="card_header_avatar">
      <img *ngIf="bgcolor" class="card_header_icon" src="../../../../../assets/types/{{ bgcolor }}.png"
        alt="Tipo do Pokemon {{bgcolor}}" />
      <mat-progress-spinner [diameter]="30" class="mat-spinner" *ngIf="!bgcolor" mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <div>
      <p class="card_header_subtitle"># {{ id }}</p>
      <h5 class="card_header_title">{{ name }}</h5>
    </div>
  </mat-card-header>

  <div mat-card-content class="mat-card-content">
    <!-- <img mat-card-image class="card_image" [src]="imagePokemon"  /> -->
    <img mat-card-image *ngIf="imageGif" class="card_image_gif"
      src="../../../../../assets/pokemonGif/{{ imageGif }}.gif" alt="Pokemon {{ name }}" />
    <mat-spinner [diameter]="70" *ngIf="!imageGif" mode="indeterminate"></mat-spinner>
    <span class="bg-color bg-color-{{ bgcolor }}"></span>
  </div>

  <mat-card-footer class="card_footer">
    <button class="card_link_visualizar" routerLink="/pokemon/detalhe/{{ id }}">Visualizar</button>
  </mat-card-footer>
</mat-card>
