

:host {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
  min-width: 250px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #999;

  .card_header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px 10px 0 0;

    .card_header_avatar img {
      width: 100%;
    }

    .card_header_title, .card_header_subtitle {
      margin: 0;
      text-transform: capitalize;
    }
  }
  .mat-card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .card_image {
      width: 150px;
      margin: 0;
    }
  }

  .card_footer {
    width: 100%;
    margin: 0;

    .card_link_visualizar {
      display: block;
      padding: 5px 0;
      border-radius: 0 0 10px 10px;
      width: 100%;
    }
  }
}
