<mat-card class="card">
  <mat-card-header class="card_header">
    <div color="primary" mat-card-avatar class="card_header_avatar">
      <!-- <img class="card_header_icon" src="../../../../../assets/pokeball_4.png" alt="" /></div> -->
      <img class="card_header_icon" src="../../../../../assets/types/{{ bgcolor }}.png" alt="" />
    </div>
    <mat-card-title class="card_header_title"><span># </span>{{ id }}</mat-card-title>
    <mat-card-subtitle class="card_header_subtitle">{{ name }}</mat-card-subtitle>
  </mat-card-header>

  <div mat-card-content class="mat-card-content">
    <!-- <img mat-card-image class="card_image" [src]="imagePokemon" /> -->
    <!-- <img mat-card-image class="card_image_gif" src="https://projectpokemon.org/images/normal-sprite/{{ name }}.gif" /> -->
    <img mat-card-image class="card_image_gif" src="../../../../../assets/pokemonGif/{{ id }}.gif" />
    <span class="bg-color bg-color-{{ bgcolor }}"></span>
  </div>

  <mat-card-footer mat-card-footer class="card_footer">
    <button color="primary" mat-raised-button class="card_link_visualizar"
      routerLink="/pokemon/detalhe/{{ id }}">Visualizar</button>
  </mat-card-footer>
</mat-card>
