<mat-card class="card" color="primary">
  <mat-card-header class="card_header">
    <div mat-card-avatar class="card_header_avatar"><img class="card_header_icon"
        src="../../../../../assets/pokeball_3.png" alt="" /></div>
    <mat-card-title class="card_header_title"><span># </span>{{ id }}</mat-card-title>
    <mat-card-subtitle class="card_header_subtitle">{{ name }}</mat-card-subtitle>
  </mat-card-header>

  <div class="card-color color-{{ color }}" mat-card-content>
    <img mat-card-image class="card_image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
            id
          }}.png" />
  </div>

  <mat-card-footer mat-card-footer class="card_footer">
    <button mat-raised-button class="card_link_visualizar" routerLink="/pokemon/detalhe/{{ id }}">Visualizar</button>
  </mat-card-footer>
</mat-card>
