@font-face {
  font-family: 'dongle-light';
  src: url(../assets/fonts/Dongle-Light.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'dongle-regular';
  src: url(../assets/fonts/Dongle-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'dongle-bold';
  src: url(../assets/fonts/Dongle-Bold.ttf) format("truetype");
  font-display: swap;
}

:root {
  --color-primary: #FF9800;
  --color-secondary: #03A9F4;
  --color-warn: #F95587;

  --color-dark: #333;
  --color-light: #fff;
  --color-grey-light: #EEEEEE;
  --color-grey-dark: #263238;

  --color-cp-orange: #FF9D55;
  --color-cp-blue: #5090D6;
  --color-cp-red: #C22E28;
  --color-cp-green-medium: #A6B91A;
  --color-cp-green-light: #91C12F;
  --color-cp-yellow_green: #A8A77A;
  --color-cp-yellow-dark: #B6A136;
  --color-cp-yellow-medium: #E2BF65;
  --color-cp-yellow-light: #F4D23C;
  --color-cp-purple-dark: #735797;
  --color-cp-purple-medium: #B567CE;
  --color-cp-purple-light: #6F35FC;
  --color-cp-pink-dark: #A33EA1;
  --color-cp-pink-medium: #F95587;
  --color-cp-pink-light: #D685AD;
  --color-cp-blue_green: #96D9D6;
  --color-cp-brown: #705746;
  --color-cp-gray: #B7B7CE;

  --font-weight-normal: normal;
  --font-weight-medium: medium;
  --font-weight-bold: bold;

  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 17px;
  --font-size-m: 18px;
  --font-size-l: 19px;
  --font-size-xl: 21px;
  --font-size-xxl: 23px;

}
