@font-face {
  font-family: 'dongle-light';
  src: url(../assets/fonts/Dongle-Light.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'dongle-regular';
  src: url(../assets/fonts/Dongle-Regular.ttf) format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'dongle-bold';
  src: url(../assets/fonts/Dongle-Bold.ttf) format("truetype");
  font-display: swap;
}

:root {
  --color-primary: #FF9800;
  --color-secondary: #03A9F4;
  --color-warn: #F95587;

  --color-dark: #333;
  --color-light: #fff;

  --color-grey-light: #eee;
  --color-grey-medium: #999;
  --color-grey-dark: #263238;

  --color-cp-orange-dark: #FF9D55;
  --color-cp-orange: #FF9D55;
  --color-cp-blue-dark: #0B6DC3;
  --color-cp-blue: #5090D6;
  --color-cp-blue-light: #89AAE3;
  --color-cp-red: #C22E28;
  --color-cp-green-medium: #A6B91A;
  --color-cp-green-light: #91C12F;
  --color-cp-yellow_green: #A8A77A;
  --color-cp-yellow-dark: #B6A136;
  --color-cp-yellow-medium: #E2BF65;
  --color-cp-yellow-light: #F4D23C;
  --color-cp-purple-dark: #735797;
  --color-cp-purple-medium: #B567CE;
  --color-cp-purple-light: #6F35FC;
  --color-cp-pink-dark: #A33EA1;
  --color-cp-pink-medium: #F95587;
  --color-cp-pink-light: #D685AD;
  --color-cp-blue_green: #96D9D6;
  --color-cp-brown: #705746;
  --color-cp-gray: #B7B7CE;

  --color-habilidade-hp: #b4ff70;
  --color-habilidade-atk: #ffe070;
  --color-habilidade-def: #ff9e70;
  --color-habilidade-spA: #70ebff;
  --color-habilidade-spD: #87acff;
  --color-habilidade-sPD: #da80ff;

  --color-pokedex-red: #C22E28;
  --color-pokedex-blue: #5090D6;
  --color-pokedex-yellow: #F4D23C;
  --color-pokedex-green: #91C12F;
  --color-pokedex-black: #735797;
  --color-pokedex-brown: #FF9D55;
  --color-pokedex-purple: #B567CE;
  --color-pokedex-gray: #999;
  --color-pokedex-white: #eee;
  --color-pokedex-pink: #D685AD;

  --color-type-normal: #919AA2;
  --color-type-fighting:  #CE416B;
  --color-type-flying: #89AAE3;
  --color-type-poison: #B567CE;
  --color-type-ground: #D97845;
  --color-type-rock: #C5B78C;
  --color-type-bug: #94C22E;
  --color-type-ghost: #5269AD;
  --color-type-steel: #5A8EA2;
  --color-type-fire: #FF9D55;
  --color-type-water: #5090D6;
  --color-type-grass: #63BC5A;
  --color-type-electric: #F4D23C;
  --color-type-psychic: #FA7179;
  --color-type-ice: #73CEC0;
  --color-type-dragon: #0B6DC3;
  --color-type-dark: #5A5465;
  --color-type-fairy: #EC8FE6;

  --font-size-xxs: 12px;
  --font-size-xs: 14px;
  --font-size-s: 17px;
  --font-size-m: 18px;
  --font-size-l: 19px;
  --font-size-xl: 21px;
  --font-size-xxl: 23px;

  --padding-xs: 3px;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;

  --margin-xs: 3px;
  --margin-s: 5px;
  --margin-m: 10px;
  --margin-l: 15px;
  --margin-xl: 20px;

  --radius-xs: 3px;
  --radius-s: 5px;
  --radius-m: 10px;
  --radius-l: 15px;
  --radius-xl: 25px;
  --radius-50: 50%;
}
