@import '~@angular/material/theming';

$light-primary: mat-palette($mat-light-blue);
$light-accent:  mat-palette($mat-light-green);
$light-warn:  mat-palette($mat-red);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
