@import '~@angular/material/theming';

$black-primary: mat-palette($mat-orange);
$black-accent:  mat-palette($mat-yellow);
$black-warn:  mat-palette($mat-red);

$black-theme: mat-dark-theme($black-primary, $black-accent, $black-warn);
