@import '~@angular/material/theming';

$black-primary: mat-palette($mat-blue-gray, 900);
$black-accent:  mat-palette($mat-blue-gray, 100);

$black-theme: mat-dark-theme($black-primary, $black-accent);
