body:not(.tema-escuro) {
  background-color: var(--color-grey-light);

  .header {
    background-color: var(--color-secondary);

    mat-slide-toggle {
      .mat-slide-toggle-thumb {
        background: var(--color-primary);
      }

      .mat-slide-toggle-bar {
        background-color: rgba(0, 0, 0, 0.38);
      }
    }
  }

  .detalhe_voltar {
    .btn_detalhe_voltar {
      background: var(--color-secondary);
    }
  }

  .detalhe_card {
    background: var(--color-light);

    .detalhe_card_desc {
      color: var(--color-secondary);
    }

    p, span, h1 {
      color: var(--color-dark);
    }

    h2, h3, h4, h5, h6 {
      color: var(--color-secondary);
    }

    .detalhe_card_id {
      border: 1px solid var(--color-secondary);
    }
  }

  .lista_pokemons {
    .card {
      p, span, h1, h2, h3, h4, h5, h6 {
        color: var(--color-dark);
      }

      button {
        background-color: var(--color-secondary);
        color: var(--color-dark);

        span {
          color: var(--color-light);
        }
      }
    }
    mat-paginator {
      color: var(--color-dark);
    }
  }
}
