@import '.../../../../../../themes/colors.scss';


:host ::ng-deep{
  .detalhe_card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

    h1, h2, span, p {
      margin: 0;
    }

    .detalhe_card_item {
      margin: var(--margin-m) 0;

      p {
        margin-top: 5px;
        margin-left: 10px;
        font-weight: 600;
      }

      .detalhe_card_desc {
        font-size: var(--font-size-xxs);
        text-align: left;
      }

      .detalhe_card_progressbar {
        margin: var(--margin-s) 0;
      }

      .detalhe_card_tipos {
        text-transform: uppercase;
        margin-top: var(--margin-s);

        span {
          text-align: center;
          display: inline-block;
          padding: var(--padding-s) var(--padding-m);
          margin-right: var(--margin-s);
          border-radius: var(--radius-m);
          font-size: var(--font-size-xxxs);
          font-weight: bold;
          min-width: 80px;
        }

        .detalhe_card_tipo_normal {
          background-color: var(--color-type-normal);
        }

        .detalhe_card_tipo_fighting {
          background-color: var(--color-type-fighting);
        }

        .detalhe_card_tipo_flying {
          background-color: var(--color-type-flying);
        }
        .detalhe_card_tipo_poison {
          background-color: var(--color-type-poison);
        }

        .detalhe_card_tipo_ground {
          background-color: var(--color-type-ground);
        }

        .detalhe_card_tipo_rock {
          background-color: var(--color-type-rock);
        }
        .detalhe_card_tipo_bug {
          background-color: var(--color-type-bug);
        }

        .detalhe_card_tipo_ghost {
          background-color: var(--color-type-ghost);
        }

        .detalhe_card_tipo_steel {
          background-color: var(--color-type-steel);
        }
        .detalhe_card_tipo_fire {
          background-color: var(--color-type-fire);
        }

        .detalhe_card_tipo_water {
          background-color: var(--color-type-water);
        }

        .detalhe_card_tipo_grass {
          background-color: var(--color-type-grass);
        }
        .detalhe_card_tipo_electric {
          background-color: var(--color-type-electric);
        }

        .detalhe_card_tipo_psychic {
          background-color: var(--color-type-psychic);
        }

        .detalhe_card_tipo_ice {
          background-color: var(--color-type-ice);
        }
        .detalhe_card_tipo_dragon {
          background-color: var(--color-type-dragon);
        }

        .detalhe_card_tipo_dark {
          background-color: var(--color-type-dark);
        }

        .detalhe_card_tipo_fairy {
          background-color: var(--color-type-fairy);
        }
      }
    }
  }
}
