<!-- <h1>Detalhe do Pokemon</h1>

<a (click)="getParametro()">Ver Detalhe</a>

<a routerLink="['pokemon']">Voltar</a>

<p>{{ detalhePokemon.id }}</p>
<p>{{ detalhePokemon.name }}</p>

<img src="{{ detalhePokemon.sprites.front_default || '' }}" alt="pokemon" />
 -->

<!-- <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px" role="list">

  <mat-grid-tile colspan="4" role="listitem">
    <mat-grid-tile-header>
      <p>#{{ detalhePokemon.detalhe?.id }}</p>
      <p>-{{ detalhePokemon.detalhe?.name }}</p>
    </mat-grid-tile-header>
    <img src="{{ detalhePokemon.detalhe?.sprites?.front_default || '' }}" alt="pokemon" />
    <mat-grid-tile-footer>
      <button mat-raised-button aria-label="Botão que volta para lista pokemon" routerLink="['pokemon']">Voltar</button>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" role="listitem">3</mat-grid-tile>
  <mat-grid-tile colspan="2" role="listitem">4</mat-grid-tile>
</mat-grid-list> -->

<div *ngIf="!loading" class="detalhe_main" fxLayout="column wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px">

  <div class="detalhe_voltar" fxFlex="grow" fxLayoutAlign="start stretch">
    <button class="btn_detalhe_voltar" routerLink="['pokemon']">
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
  </div>

  <div class="detalhe_conteudo" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">

    <div class="detalhe_conteudo_item" fxFlex="50" fxLayout="column" fxLayoutGap="10px">

      <mat-card class="detalhe_card" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
          <div>
            <h2 class="text-uppercase detalhe_card_id">#{{ pokemonDetalhe?.id }}</h2>
          </div>
          <div>
            <h1 class="text-uppercase">{{ pokemonDetalhe?.nome }}</h1>
            <h2 class="text-uppercase">{{ pokemonDetalhe?.nomeJP }}</h2>
          </div>
        </div>
        <img class="detalhe_icon_tipo" src="../../../../../assets/types/{{ pokemonDetalhe?.tipo }}.png" alt="" />
      </mat-card>

      <mat-card class="detalhe_card" fxLayout="row" fxLayoutAlign="center center">
        <img mat-card-image class="card_image_detalhe" [src]="pokemonDetalhe?.images" />
      </mat-card>

      <mat-card class="detalhe_card" fxLayout="row wrap" fxLayoutAlign="center center">
        <div class="detalhe_hp detalhe_habilidades">
          <span class="detalhe_habilidades_title">HP</span>
          <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.hp }}</span>
        </div>
        <div class="detalhe_atk detalhe_habilidades">
          <span class="detalhe_habilidades_title">Atk</span>
          <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.attack }}</span>
        </div>
        <div class="detalhe_def detalhe_habilidades">
          <span class="detalhe_habilidades_title">Def</span>
          <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.defense }}</span>
        </div>
        <div class="detalhe_spA detalhe_habilidades">
          <span class="detalhe_habilidades_title">SpA</span>
          <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.specialAttack }}</span>
        </div>
        <div class="detalhe_spD detalhe_habilidades">
          <span class="detalhe_habilidades_title">SpD</span>
          <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.specialDefense }}</span>
        </div>
        <div class="detalhe_sPD detalhe_habilidades">
          <span class="detalhe_habilidades_title">SPD</span>
          <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.speed }}</span>
        </div>
      </mat-card>

      <mat-card class="detalhe_card">
        <div style="display: block">
          <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels"
            [chartType]="radarChartType" [legend]="false" [colors]="lineChartColors">
          </canvas>
        </div>
      </mat-card>

    </div>

    <div class="detalhe_conteudo_item" fxFlex="50" fxLayout="column" fxLayoutGap="10px">

      <mat-card class="detalhe_card">
        <h3>Geração: <span>Geração {{ pokemonDetalhe?.geracao }}</span></h3>
        <h3>Cor: <span class="detalhe_color" [style.background-color]="detalhePokemon.cor ?? '#555'"></span>
        </h3>
        <h3>Tipo: <span>{{ pokemonDetalhe?.tipo }}</span></h3>
        <h3>Habitat: <span>{{ pokemonDetalhe?.habitat }}</span></h3>
        <h3>Taxa de Captura: </h3>
        <progressbar [max]="255" [value]="detalhePokemon.especie?.capture_rate" [type]="type" [striped]="true"
          [animate]="true"><i>{{ detalhePokemon.especie?.capture_rate }} / 255</i>
        </progressbar>
        <p class="detalhe_text_desc">A taxa de captura básica; até 255. <br /> Quanto maior o número, mais fácil será a
          captura.</p>
      </mat-card>

      <mat-card class="detalhe_card">
        <h3>Largura: <span>{{ pokemonDetalhe?.largura }} cm</span></h3>
        <h3>Altura: <span>{{ pokemonDetalhe?.altura }} cm</span></h3>
      </mat-card>

      <mat-card class="detalhe_card">
        <h3>Habilidade: <span *ngFor="let habilidade of pokemonDetalhe?.habilidades">{{ habilidade.ability?.name
            }} | </span></h3>
        <h3 *ngIf="detalhePokemon.detalhe?.held_items.leght > 0">Itens que Ajuda na Evolucao: <span
            *ngFor="let habilidade of detalhePokemon.detalhe?.held_items">{{
            habilidade.item.name
            }} | </span></h3>
        <h3>Experiência de Base: <span>{{ pokemonDetalhe?.experiencia }}</span></h3>
      </mat-card>
    </div>
  </div>
</div>

<div fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner>
</div>

<!-- <button mat-raised-button aria-label="Botão que volta para lista pokemon" routerLink="['pokemon']">Voltar</button>


<div class="detalhe_main">

  <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="start center">
    <img mat-card-image class="detalhe_tipo_icon"
      src="../../../assets/types/{{ detalhePokemon.detalhe?.types[0].type.name }}.png" />
    <div>
      <h2 class="detalhe_id">#{{ detalhePokemon.detalhe?.id }}</h2>
      <h3 class="detalhe_name">{{ detalhePokemon.detalhe?.name }}</h3>
    </div>
  </div>

  <div fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="start start">
    <p>Largura: {{ detalhePokemon.detalhe?.weight }}</p>
    <mat-divider [vertical]="true"></mat-divider>


    <p>Altura: {{ detalhePokemon.detalhe?.height }}</p>
    <p>Habilidade: <span *ngFor="let habilidade of detalhePokemon.detalhe?.abilities">{{ habilidade.ability.name
        }} | </span>
    </p>
    <div *ngFor="let stats of detalhePokemon.detalhe?.stats">
      <p>{{ stats.stat.name }}: <span>{{ stats.base_stat }}</span></p>
      <mat-slider disabled min="1" max="100" step="1" [value]="stats.base_stat"></mat-slider>
    </div>
  </div>
</div> -->


<!-- <mat-list>
  <h3 mat-subheader>TAMANHO</h3>
  <mat-list-item>
    <div mat-line>Altura: </div>
    <div mat-line> {{ detalhePokemon.detalhe?.height }} </div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Largura: </div>
    <div mat-line> {{ detalhePokemon.detalhe?.weight }} </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>


  </mat-list-item>
</mat-list> -->
