.detalhe_main {
  padding: 10px;
  .detalhe_voltar {
    .btn_detalhe_voltar {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 20px;
      border-radius: 10px;
      font-weight: 800;
      transition: .5s;
      border: none;

      &:hover {
        opacity: .8;
      }
    }
  }
  .detalhe_conteudo {
    .detalhe_conteudo_item {
      h3 {
        font-size: 20px;

        span {
          font-size: 17px;
          text-transform: capitalize;
        }
      }
      .detalhe_text_desc {
        margin: 10px 0;
        font-size: 12px;
        text-align: left;
      }
      .detalhe_color {
        display: inline-block;
        height: 11px;
        width: 41px;
        border-radius: 11px;
        margin-right: 10px;
        border: 1px solid #333;
      }
      .card_image_detalhe {
        width: 350px;
      }
    }
  }
}
