<!-- <h1>Detalhe do Pokemon</h1>

<a (click)="getParametro()">Ver Detalhe</a>

<a routerLink="['pokemon']">Voltar</a>

<p>{{ detalhePokemon.id }}</p>
<p>{{ detalhePokemon.name }}</p>

<img src="{{ detalhePokemon.sprites.front_default || '' }}" alt="pokemon" />
 -->

<!-- <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px" role="list">

  <mat-grid-tile colspan="4" role="listitem">
    <mat-grid-tile-header>
      <p>#{{ detalhePokemon.detalhe?.id }}</p>
      <p>-{{ detalhePokemon.detalhe?.name }}</p>
    </mat-grid-tile-header>
    <img src="{{ detalhePokemon.detalhe?.sprites?.front_default || '' }}" alt="pokemon" />
    <mat-grid-tile-footer>
      <button mat-raised-button aria-label="Botão que volta para lista pokemon" routerLink="['pokemon']">Voltar</button>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" role="listitem">3</mat-grid-tile>
  <mat-grid-tile colspan="2" role="listitem">4</mat-grid-tile>
</mat-grid-list> -->

<div *ngIf="!loading" class="detalhe_main" fxLayout="column wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px">

  <div class="detalhe_voltar" fxFlex="grow" fxLayoutAlign="start stretch">
    <button class="btn_detalhe_voltar" routerLink="['pokemon']">
      <mat-icon>arrow_back</mat-icon>
      Voltar
    </button>
  </div>

  <div class="detalhe_conteudo" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">

    <div class="detalhe_conteudo_item" fxFlex="50" fxLayout="column" fxLayoutGap="10px">

      <app-card>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="left center" fxLayoutGap="10px">
            <div>
              <h2 class="text-uppercase detalhe_card_id">#{{ pokemonDetalhe?.id }}</h2>
            </div>
            <div>
              <h1 class="text-uppercase">{{ pokemonDetalhe?.nome }}</h1>
              <h2 class="text-uppercase">{{ pokemonDetalhe?.nomeJP }}</h2>
            </div>
          </div>
          <div>
            <img *ngFor="let tipo of pokemonDetalhe?.tipo" class="detalhe_icon_tipo"
              src="../../../../../assets/types/{{ tipo.type.name }}.png" alt="" />
          </div>
        </div>
      </app-card>

      <mat-card class="detalhe_card" fxLayout="row" fxLayoutAlign="center center">
        <img mat-card-image class="card_image_detalhe" [src]="pokemonDetalhe?.images" />
      </mat-card>

      <app-card>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <div class="detalhe_hp detalhe_habilidades">
            <span class="detalhe_habilidades_title">HP</span>
            <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.hp }}</span>
          </div>
          <div class="detalhe_atk detalhe_habilidades">
            <span class="detalhe_habilidades_title">Atk</span>
            <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.attack }}</span>
          </div>
          <div class="detalhe_def detalhe_habilidades">
            <span class="detalhe_habilidades_title">Def</span>
            <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.defense }}</span>
          </div>
          <div class="detalhe_spA detalhe_habilidades">
            <span class="detalhe_habilidades_title">SpA</span>
            <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.specialAttack }}</span>
          </div>
          <div class="detalhe_spD detalhe_habilidades">
            <span class="detalhe_habilidades_title">SpD</span>
            <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.specialDefense }}</span>
          </div>
          <div class="detalhe_sPD detalhe_habilidades">
            <span class="detalhe_habilidades_title">SPD</span>
            <span class="detalhe_habilidades_result">{{ pokemonDetalhe?.estatisticas.speed }}</span>
          </div>
        </div>
      </app-card>

      <app-card class="detalhe_card">
        <div style="display: block">
          <canvas baseChart [datasets]="radarChartData" [options]="radarChartOptions" [labels]="radarChartLabels"
            [chartType]="radarChartType" [legend]="false" [colors]="lineChartColors">
          </canvas>
        </div>
      </app-card>

    </div>

    <div class="detalhe_conteudo_item" fxFlex="50" fxLayout="column" fxLayoutGap="10px">

      <app-card>
        <app-card-titulo>Informações principais</app-card-titulo>
        <div class="detalhe_card_item">
          <h2>Geração</h2>
          <p>Geração {{ pokemonDetalhe?.geracao }}</p>
        </div>
        <div class="detalhe_card_item">
          <h2>Tipo(s)</h2>
          <div class="detalhe_card_tipos"><span *ngFor="let tipo of pokemonDetalhe?.tipo"
              class="detalhe_card_tipo_{{ tipo.type.name }}">{{
              tipo.type.name |
              tipos }}</span>
          </div>
        </div>
        <div class="detalhe_card_item">
          <h2>Habitat</h2>
          <p>{{ pokemonDetalhe?.habitat | habitat }}</p>
        </div>
        <div class="detalhe_card_item">
          <h2>Altura</h2>
          <p>{{ pokemonDetalhe?.altura }} m</p>
        </div>
        <div class="detalhe_card_item">
          <h2>Peso</h2>
          <p>{{ pokemonDetalhe?.Peso }} kg</p>
        </div>
        <div class="detalhe_card_item">
          <h2>Cor do Pokedex</h2>
          <p><span class="detalhe_color" [style.background-color]="pokemonDetalhe?.cor ?? '#555'"></span></p>
        </div>
        <div class="detalhe_card_item">
          <h2>Taxa de Captura</h2>
          <progressbar class="detalhe_card_progressbar" [max]="255" [value]="detalhePokemon.especie?.capture_rate"
            [type]="type" [striped]="true" [animate]="true">
            <i>{{ detalhePokemon.especie?.capture_rate }} / 255</i>
          </progressbar>
          <p class="detalhe_card_desc">A taxa de captura básica; até 255. <br /> Quanto maior o número, mais fácil será
            a
            captura.</p>
        </div>
      </app-card>

      <app-card>
        <app-card-titulo>Informações complementares</app-card-titulo>
        <div class="detalhe_card_item">
          <h2>Experiência ao Derrotar</h2>
          <progressbar class="detalhe_card_progressbar" [max]="400" [value]="pokemonDetalhe?.experiencia" [type]="type"
            [striped]="true" [animate]="true">
            <i>{{ pokemonDetalhe?.experiencia }} / 400</i>
          </progressbar>
          <p class="detalhe_card_desc">A experiência básica obtida ao derrotar este Pokémon.
          </p>
        </div>
      </app-card>

      <app-card>
        <app-card-titulo>Habilidade(s)</app-card-titulo>
        <div class="detalhe_card_item">
          <h2 *ngFor="let habilidade of pokemonDetalhe?.habilidades">{{ habilidade.ability?.name
            }} </h2>
        </div>
      </app-card>

      <!-- <app-card>
        <app-card-titulo>Efetividade</app-card-titulo>
        <div class="detalhe_card_item">
          <h2>Super efetivo</h2>
          <p>25</p>
        </div>
        <div class="detalhe_card_item">
          <h2>Dano normal</h2>
          <p>318</p>
        </div>
        <div class="detalhe_card_item">
          <h2>Pouco efetivo</h2>
          <p>318</p>
        </div>
        <div class="detalhe_card_item">
          <h2>Sem dano</h2>
          <p>318</p>
        </div>
      </app-card> -->

    </div>
  </div>
</div>

<div class="detalhe_loading" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner>
</div>

<!-- <button mat-raised-button aria-label="Botão que volta para lista pokemon" routerLink="['pokemon']">Voltar</button>


<div class="detalhe_main">

  <div fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="start center">
    <img mat-card-image class="detalhe_tipo_icon"
      src="../../../assets/types/{{ detalhePokemon.detalhe?.types[0].type.name }}.png" />
    <div>
      <h2 class="detalhe_id">#{{ detalhePokemon.detalhe?.id }}</h2>
      <h3 class="detalhe_name">{{ detalhePokemon.detalhe?.name }}</h3>
    </div>
  </div>

  <div fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="start start">
    <p>Largura: {{ detalhePokemon.detalhe?.weight }}</p>
    <mat-divider [vertical]="true"></mat-divider>


    <p>Altura: {{ detalhePokemon.detalhe?.height }}</p>
    <p>Habilidade: <span *ngFor="let habilidade of detalhePokemon.detalhe?.abilities">{{ habilidade.ability.name
        }} | </span>
    </p>
    <div *ngFor="let stats of detalhePokemon.detalhe?.stats">
      <p>{{ stats.stat.name }}: <span>{{ stats.base_stat }}</span></p>
      <mat-slider disabled min="1" max="100" step="1" [value]="stats.base_stat"></mat-slider>
    </div>
  </div>
</div> -->


<!-- <mat-list>
  <h3 mat-subheader>TAMANHO</h3>
  <mat-list-item>
    <div mat-line>Altura: </div>
    <div mat-line> {{ detalhePokemon.detalhe?.height }} </div>
  </mat-list-item>
  <mat-list-item>
    <div mat-line>Largura: </div>
    <div mat-line> {{ detalhePokemon.detalhe?.weight }} </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>


  </mat-list-item>
</mat-list> -->
