.detalhe_main {
  padding: var(--padding-m);

  .detalhe_voltar {
    .btn_detalhe_voltar {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--padding-s) var(--padding-xl);
      border-radius: var(--radius-m);
      font-weight: 600;
      transition: .5s;
      border: none;
      cursor: pointer;

      svg {
        height: 20px;
        width: 20px;
        margin-right: var(--margin-s);
      }

      &:hover {
        opacity: .8;
      }
    }
  }

  .detalhe_conteudo {
    .detalhe_conteudo_item {
      .detalhe_card_id {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        border-radius: var(--radius-50);
        padding: var(--padding-m);
      }

      .detalhe_icon_tipo {
        width: 40px;
        height: 40px;
        margin: 0 var(--padding-s);
      }

      .detalhe_habilidades {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgba(0,0,0,.1);
        align-items: center;
        border-radius: var(--radius-xl);
        height: 80px;
        margin: var(--margin-s);
        padding: 2px var(--padding-s);

        &.detalhe_hp  {
          .detalhe_habilidades_title {
            background-color: var(--color-habilidade-hp);
          }
        }

        &.detalhe_atk  {
          .detalhe_habilidades_title {
            background-color: var(--color-habilidade-atk);
          }
        }

        &.detalhe_def  {
          .detalhe_habilidades_title {
            background-color: var(--color-habilidade-def);
          }
        }

        &.detalhe_spA  {
          .detalhe_habilidades_title {
            background-color: var(--color-habilidade-spA);
          }
        }

        &.detalhe_spD  {
          .detalhe_habilidades_title {
            background-color: var(--color-habilidade-spD);
          }
        }

        &.detalhe_sPD  {
          .detalhe_habilidades_title {
            background-color: var(--color-habilidade-sPD);
          }
        }

        .detalhe_habilidades_title {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: var(--radius-50);
          height: 40px;
          width: 40px;
          padding: var(--padding-m);
          font-weight: 600;
          color: var(--color-dark);
          font-size: var(--font-size-xxxs);
          letter-spacing: 1px;
        }

        .detalhe_habilidades_result {
          font-weight: 600;
        }
      }

      h3 {
        span {
          text-transform: capitalize;
        }
      }
      .detalhe_text_desc {
        margin: var(--margin-m) 0;
        font-size: var(--font-size-xxs);
        text-align: left;
      }
      .detalhe_color {
        display: inline-block;
        height: 20px;
        width: 20px;
        border-radius: var(--radius-50);
        margin-right: var(--margin-m);

        &.detalhe_color_red {
          background-color: var(--color-pokedex-red);
        }
        &.detalhe_color_blue {
          background-color: var(--color-pokedex-blue);
        }
        &.detalhe_color_yellow {
          background-color: var(--color-pokedex-yellow);
        }
        &.detalhe_color_green {
          background-color: var(--color-pokedex-green);
        }
        &.detalhe_color_black {
          background-color: var(--color-pokedex-black);
        }
        &.detalhe_color_brown {
          background-color: var(--color-pokedex-brown);
        }
        &.detalhe_color_purple {
          background-color: var(--color-pokedex-purple);
        }
        &.detalhe_color_gray {
          background-color: var(--color-pokedex-gray);
        }
        &.detalhe_color_white {
          background-color: var(--color-pokedex-white);
        }
        &.detalhe_color_pink {
          background-color: var(--color-pokedex-pink);
        }
      }
      .card_image_detalhe {
        width: 350px;
      }
    }
  }
}
