<mat-toolbar color="primary">
  <div class="container" fxLayout="row" fxLayoutAlign="space-between center">
    <img routerLink="/pokemon" class="home_header_icon" src="../../assets/logo.png" alt="" />

    <div class="header_menu">
    </div>

    <div>
      <mat-slide-toggle [(ngModel)]="isDarkTheme" labelPosition="before" (change)="alterarTema($event)">
        <mat-icon>bedtime</mat-icon>
      </mat-slide-toggle>
    </div>

    <div>
      <mat-slide-toggle [(ngModel)]="is3d" (change)="alterarImagem($event)">
      </mat-slide-toggle>
    </div>

  </div>
</mat-toolbar>
