.header {
  .home_header_icon {
    display: block;
    padding: var(--padding-s) var(--padding-m);
    cursor: pointer;
    height: 100%;
    width: 130px;
  }

  svg {
    width: 20px;
    height: 20px;
    margin: 0 var(--margin-s);

    &.active {
      opacity: .3;
    }
  }
}
