@use '@angular/material' as mat;
@import './themes/colors.scss';

@import './themes/theme-dark.scss';
@import './themes/theme-light.scss';

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-theme: mat.define-light-theme($my-primary,$my-accent);
@include mat.all-component-themes($my-theme);

@font-face {
  font-family: 'milky nice';
  src: url(./fonts/milky_nice/MilkyNice-Clean.ttf) format("truetype");
  font-display: swap;
}

html, body { height: 100%; }
body {
  background-color: #eee;
  margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

* {
  // font-family: 'dongle-regular';
  font-family: 'milky nice';
  letter-spacing: 2px;
  line-height: 1 !important;
}

h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  font-weight: initial;
}

h1 {
  font-size: var(--font-size-xxl);
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-l);
}

h4 {
  font-size: var(--font-size-m);
}

h5 {
  font-size: var(--font-size-s);
}

h6 {
  font-size: var(--font-size-xs);
}

span {
  font-size: var(--font-size-s);
  font-family: sans-serif;
}

p {
  font-size: var(--font-size-xs);
  font-family: sans-serif;
}

small {
  font-family: sans-serif;
}

button {
  font-size: var(--font-size-xs);
  font-family: sans-serif;
}

.container {
  max-width: 1124px;
  margin: 0 auto;
  width: 100%;
}

.mat-paginator {
  width: 100%;
  background: transparent !important;
  margin-top: 30px;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
  border: 3px solid #eee;
}
