:host {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lista_title {
  font-size: 21px;
  text-align: center;
  color: #ED5564;
  text-transform: uppercase;
  font-weight: bold;
}

.lista_pokemons {
  padding: 20px;
  width: 100%;
}
