<p class="lista_title">Lista de Pokemons</p>
<!-- <button (click)="detalhe('10')">Listar</button> -->

<div class="lista_pokemons" fxLayout="row wrap" fxLayoutGap="20px grid" fxFlexFill fxLayoutAlign="space-around center">
  <div class="lista_item" *ngFor="let pokemon of pokemons; let i = index">

    <app-card-simple [id]="pokemon?.status?.id" [name]="pokemon?.status?.name"
      [bgcolor]="pokemon?.status?.types[0].type.name" [imagePokemon]="pokemon?.status?.sprites.front_default">
    </app-card-simple>

  </div>
  <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner>

  <mat-paginator [length]="paginatorTotal" [pageSize]="pokemonlimite" [pageIndex]="0"
    (page)="pageEvents($event); pokemons = []; listar()" aria-label="Select page">
  </mat-paginator>
</div>
