.conteudoContainer {
  min-height: 100%;
  position: relative;
  width: 100%;

  .conteudo {
    padding-top: 30px;
    padding-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  app-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
